/appsettings.json
/appsettings.Development.json

# .NET
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer Logs
*.log

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# VS Code
.vscode/

# Rider
.idea/

# NUGET
*.nupkg
# Uncomment if you have projects that use NuGet
# ~/.nuget/packages/

# Microsoft Azure Web Apps
# The folder "publish" contains files that should not be committed.
publish/

.fake